.navbar-brand{
    padding-left: 10px;
}

a{
    color: white;
}

.carousel_slide{
    margin-top: 5%;
    height: 60%;
}

.card-text-mb-auto {
    line-height: 18px;
    height: 54px;
    overflow: hidden;
}